.connection-form {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .form-fields {
    display: flex;
    padding-top: 10px;
    gap: 10px;
    flex-wrap: wrap;
  }

  .required:after {
    content: "*";
    color: red;
  }

  .actions {
    display: flex;
    gap: 10px;
    margin-left: auto;
  }
}
