.connection-form {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .form-fields {
    table {
      tr {
        display: flex;
        gap: 40px;
        justify-content: space-between;
      }

      td {
        width: 100%;
      }

      select {
        width: 100%;
      }
    }
  }

  .required:after {
    content: "*";
    color: red;
  }

  .actions {
    display: flex;
    gap: 10px;
    margin-left: auto;
  }
}
